.login-container {
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    font-family: sans-serif; 
}

.login-card {
    background: white;
    border-radius: 1.5rem; 
    padding: 3rem 2.5rem;
    width: 100%;
    max-width: 28rem;
    text-align: center;
    overflow: hidden;
    
    box-shadow: 
        0 10px 15px -3px rgba(0, 0, 0, 0.1), 
        0 4px 6px -2px rgba(0, 0, 0, 0.05),
        0 20px 40px -10px rgba(236, 72, 153, 0.4);
}

.login-header {
    margin-bottom: 2rem;
}

.login-logo-wrapper { 
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #fce7f3, #f5d0fe); 
    border-radius: 50%;
    margin: 0 auto 0.5rem auto;
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-logo-img { 
    width: 82px;
    height: 82px; 
    object-fit: cover; 
    transform: scale(1.5);
}

.login-title {
    font-size: 1.8rem; 
    font-weight: 600; 
    color: #333;
    margin-bottom: 0.1rem;
}

.login-subtitle {
    color: #888;
    margin-bottom: 0;
    font-size: 0.85rem;
}

.input-group {
    text-align: left;
    margin-bottom: 1.5rem; 
}

.input-label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
}

.input-field {
    width: 100%;
    box-sizing: border-box; 
    padding: 0.9rem 1rem; 
    
    border-radius: 0.5rem; 
    border: 1px solid #e5e7eb; 
    background-color: #f9fafb; 
    transition: all 0.3s;
    font-size: 0.95rem;
}

.input-field::placeholder {
    color: #bbb;
}

.input-field:focus {
    outline: none;
    border-color: #c084fc; 
    background-color: white;
    box-shadow: 0 0 0 1px #c084fc;
}


.btn-login {
    width: 100%;
    background: linear-gradient(to right, #f472b6, #c084fc);
    color: white;
    font-weight: 700;
    padding: 1rem; 
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem; 
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
}

.btn-login:hover {
    background: linear-gradient(to right, #ec4899, #a855f7);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: #ef4444; 
    font-size: 0.85rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.input-label {
    display: flex;
    align-items: center;
    gap: 8px; 
    font-weight: 500;
    color: #333;
}

.input-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}